.choose {
    display: flex;
    justify-content: space-between;
    width: $content-width;
    margin: 0 auto;
    padding-top: 23px;
    padding-bottom: 52px;

    &__image {
        margin-left: -18px;
    }

    &__title {
        @extend .MyriadPro-Regular;
        padding-top: 32px;
        padding-left: 10px;
        font-size: 32px;
        color: $title-font-color;
        letter-spacing: 0.3px;
    }

    &__advantages {
        padding-top: 10px;
    }

    .advantage {
        display: flex;
        align-items: flex-end;

        &__marker {
            padding: 0 11px;
        }

        &__text {
            @extend .MyriadPro-Regular;
            font-size: 16px;
            color: $advantage-font-color;
            padding-top: 22px;
        }
    } 
}

@media (max-width: 1070px) {
    .choose {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        width: 750px;
        padding-bottom: 15px;
    }
}
@media (max-width: 800px) {
    .choose {
        position: relative;
        width: 100%;

        &__image {
            margin-left: 0;

            img {
                max-width: 500px;
                width: 100%;
            }
        }
    }
}
@media (max-width: 800px) {
    .choose {
        &__title {
            padding-top: 15px;
            padding-left: 10px;
            font-size: 26px;
        }
        .advantage {
            &__marker {
                padding: 7px 11px;
            }
            &__text {
                font-size: 16px;
                padding-top: 15px;
            }
        } 
    }
}