.forms {
    border-bottom: 1px solid $divider-color;

    &__content {
        display: flex;
        justify-content: space-between;
        width: $content-width;
        margin: 0 auto;
        padding: 25px 0 32px;
    }
}

.login-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
        background: $login-form-bg;
        padding: 13px 20px 19px 26px;
        width: 468px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    &__title {
        @extend .MyriadPro-Regular;
        font-size: 28px;
        color: white;
        padding-bottom: 19px;
    }

    &__input {
        @extend .MyriadPro-Regular;
        font-size: 16px;
        color: $title-font-color;
        padding: 4px 10px;
        width: 137px;
        border: none;
    }

    &__button {
        @extend .MyriadPro-Regular;
        padding: 6px 13px;
        font-size: 16px;
        color: white;
        background: $login-form-btn;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background .2s ease;

        &:hover {
            background: $login-form-hover-btn;
        }
    }
}

.subscription-form {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__container {
        background: $subscription-form-bg;
        padding: 13px 20px 19px 26px;
        width: 468px;
        box-sizing: border-box;
        border-radius: 5px;
    }

    &__title {
        @extend .MyriadPro-Regular;
        font-size: 28px;
        color: white;
        padding-bottom: 19px;
    }

    &__input {
        @extend .MyriadPro-Regular;
        width: 250px;
        font-size: 16px;
        color: $title-font-color;
        padding: 4px 10px;
        border: none;
    }

    &__button {
        @extend .MyriadPro-Regular;
        padding: 6px 23px;
        font-size: 16px;
        color: white;
        background: $subscription-form-btn;
        border: none;
        outline: none;
        cursor: pointer;
        transition: background .2s ease;

        &:hover {
            background: $subscription-form-hover-btn;
        }
    }
}

@media (max-width: 1070px) {
    .forms {
        &__content {
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            padding-bottom: 25px;
        }
    }

    .subscription-form {
        &__container {
            margin-top: 15px;
        }
    }
}

@media (max-width: 500px) {
    .forms {
        &__content {
            padding: 15px;
            box-sizing: border-box;
        }
    }
    .login-form, 
    .subscription-form {
        flex-wrap: wrap;
        &__title {
            font-size: 26px;
            padding-bottom: 10px;
        }
        input, button {
            margin-top: 10px;
        }
    }
    .login-form__container, 
    .subscription-form__container {
        width: 100%;
    }
}