.header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('images/bg.jpg');
    background-size: cover;

    &__content {
        position: relative;
        width: $content-width;
        min-height: 488px;
    }

    &__arrow {
        padding-top: 122px;
        opacity: 0.2;
        transition: opacity .2s ease;
        cursor: pointer;

        &_left {
            padding-right: 25px;
        }
        &_right {
            padding-left: 25px;
        }

        &:hover {
            opacity: 1;
        }
    }

    &__top-line {
        display: flex;
        justify-content: space-between;
        margin: 49px 80px 0 97px;
    }

    .menu {
        &__list {
            display: flex;
            justify-content: flex-end;
        }
        &__item {
            padding-left: 43px;
        }
        &__link {
            position: relative;
            color: white;
            @extend .MyriadPro-Regular;
            font-size: 22px;
            text-decoration: none;
            line-height: 31px;

            &::after {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: -2px;
                height: 2px;
                background: white;
                opacity: 0;
                transform: scaleX(0);
                transition: transform .3s ease, opacity .5s ease;
            }

            &:hover::after {
                transform: scaleX(1);
                opacity: .8;
            }
        }
    }

    &__banner-content {
        display: flex;
        justify-content: flex-end;
        padding-top: 109px;
    }
    &__banner-image {
        position: absolute;
        bottom: -57px;
        left: 113px;
    }
    &__banner-text {
        width: 503px;
    }
    &__banner-title {
        color: white;
        @extend .MyriadPro-Regular;
        
        & p:first-child {
            font-size: 64px;
        }
        & p:last-child {
            font-size: 44px;
            line-height: 52px;
        }
    }
    &__banner-button {
        margin-top: 31px;
        margin-left: 7px;
        padding: 5px 25px;
        background: $header-btn-bg;
        color: white;
        @extend .MyriadPro-Regular;
        font-size: 22px;
        outline: none;
        border: none;
        box-shadow: 0 0 1px 3px rgba(0,0,0,.15);
        transition: background .3s ease;
        cursor: pointer;

        &:hover {
            background: $header-btn-hover-bg;
        }
    }
}