$content-width: 1024px;

$tabs-shadow-color: #dedede;


/** hex variables start **/
$hex-width: 134px;
$hex-height: 75px; 
$hex-top-bottom: 35px; 
$hex-top-bottom-reverse: -35px; 
$hex-border: 67px;

$blue-hex-bg: #6598e6;
$yellow-hex-bg: #fdcf0a;
$green-hex-bg: #12b367;
$orange-hex-bg: #e67624;
/** hex variables end **/
